<footer>
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <p><a href="https://www.wocintechchat.com/blog/wocintechphotos">Header image by #WOCinTech Chat.</a></p>
      </div>
    </div>
  </div>
</footer>
