<footer>
  <div class="container">
    <div class="text-center">
      <p>You can contribute to this website on <a href="{{ repoURL }}">Github</a>.</p>
      <p><a href="https://www.wocintechchat.com/blog/wocintechphotos">Header image by #WOCinTech Chat.</a></p>
    </div>
  </div>
</footer>
