<h4><a href="http://rustconf.com/training.html">RustBridge at RustConf</a></h4>
<ul>
<li>Where: <a href="https://www.thenines.com/">The Nines Hotel</a>, Portland, Oregon, USA</li>
<li>When: Saturday, August 19th</li>
<li><a href="http://rustconf.com/register.html">Registration</a></li>
</ul>
