<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en-us">
  <head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width,initial-scale=1" />

    <title>{{ page.title }}</title>
    <meta name="author" content="RustBridge" />
    <meta name="description" content="RustBridge workshops focus on getting underrepresented people with a background in another programming language to learn Rust and join the community.">
    <meta property="og:type" content="website"/>
    <meta property="og:image" content=""/>

    <link rel="stylesheet" href="https://unpkg.com/tachyons@4.10.0/css/tachyons.min.css"/>
    <link rel="stylesheet" href="{{ site.url }}/css/main.css">

    <link rel="shortcut icon" type="image/png" href="{{ site.url }}/assets/favicon.png">
    <script defer data-domain="rustbridge.com" src="https://plausible.io/js/script.js"></script>
  </head>
  <body>
    {% include header.html %}

    <main class="">
      <div class="mw8 center pa2 ph3-ns">
        {{ content }}
      </div>
    </main>

    {% include footer.html %}
  </body>
</html>
